/******************************************************************************/
/* Скрытие элементов */
.hidden {
    /*Скрывает элемент, но место зарезервировано (на месте элемента путое пространство).*/
    visibility: hidden;
    /*Скрывает элемент, место не резервируется, родительские inline-block элементы не расширяются*/
    display: none;
}

/******************************************************************************/
/* position: XXX; - позиционирование.
   https://learn.javascript.ru/position
   http://www.barelyfitz.com/screencast/html-training/css/positioning/
*/
#someElenent {
    /* Позиционирование по-умолчанию.*/
    position: static;
    /* position: absolute
    Абсолютное позиционирование делает две вещи:
        Элемент исчезает с того места, где он должен быть и позиционируется заново.
        Остальные элементы, располагаются так, как будто этого элемента никогда не было.

        Координаты top/bottom/left/right для нового местоположения отсчитываются от
        ближайшего позиционированного родителя, т.е. родителя с позиционированием,
        отличным от static.
        Если такого родителя нет – то относительно документа.

    Кроме того:
        Ширина элемента с position: absolute устанавливается по содержимому.
        Детали алгоритма вычисления ширины описаны в стандарте.
        Элемент получает display:block, который перекрывает почти все
        возможные display (см. Relationships between „display“, „position“, and „float“).
    */
    position: absolute;
    /*
    https://learn.javascript.ru/position#position-relative
    Относительное позиционирование сдвигает элемент относительно его обычного положения.
     */
    position: relative;
    /**
     * Это подвид абсолютного позиционирования.
     * Позиционирует объект точно так же, как absolute, но относительно window.
     */
    position: fixed;
}

/******************************************************************************/
